.detail {
  display: flex;
  flex-direction: column;
  gap: space("lg");
  padding-top: space("lg");
  padding-bottom: space("xl");

  @media (max-width: bp("md")) {
    padding-top: 0;
  }

  /* 상단 영역 */
  .top {
    display: flex;
    align-items: flex-start;
    gap: space("lg");
    padding-bottom: space("lg");
    margin-bottom: space("md");
    border-bottom: 1px solid get-color("gray-300");

    @media (max-width: bp("md")) {
      flex-direction: column;
      align-items: center;
    }
  }

  > p {
    font-size: font("md");
    color: get-color("gray-700");
    line-height: 1.8;
  }

  :global(.btnWrap) {
    border-top: 1px solid get-color("gray-300");
    padding-top: space("md");
    margin-top: space("md");
  }
}

/* 썸네일 영역 */
.thumb {
  aspect-ratio: 458 / 717;
  width: 280px;
  border: 1px solid get-color("gray-300");
  border-radius: radius("md");
  overflow: hidden;
  background-color: get-color("gray-100");
  box-shadow: 0 3px 10px rgba(get-color("dark"), 0.08);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.04);
    }
  }

  @media (max-width: bp("md")) {
    width: 100%;
  }
}

/* 도서 정보 */
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: space("md");

  @media (max-width: bp("md")) {
    width: 100%;
  }

  h2 {
    font-size: font("xxl");
    font-weight: 700;
    color: get-color("dark");
    line-height: 1.3;
  }

  .list {
    display: flex;
    flex-direction: column;
    margin-top: space("sm");

    li {
      display: flex;
      align-items: center;
      gap: space("xs");
      font-size: font("md");
      color: get-color("gray-600");
      line-height: 1.5;
      padding: space("md") 0;
      border-top: 1px dashed get-color("gray-200");

      &:first-of-type {
        border-top: 0;
      }

      .label {
        color: get-color("gray-700");
        font-weight: 600;

        &:after {
          content: ":";
        }
      }
    }

    .price {
      font-size: font("xl");
      font-weight: 700;
      color: get-color("primary");
    }
  }
}
